.qualifications-container{
    max-width: 768px;
}

.qualifications-tabs {
    display: flex;
    justify-content: center;
    margin-bottom: var(--margin-bottom-2);
}

.qualifications-button {
    font-size: var(--h3-font-size);
    font-weight: var(--medium-font-weight);
    color: var(--title-color);
    margin: 0 var(--margin-bottom-1);
    cursor: pointer;
}

.qualifications-button:hover {
    color: var(--title-color-dark);
}

.qualifications-icon {
    font-size: 1.8rem;
    margin-right: var(--margin-bottom-0-25);
}

.qualifications-active {
    color: var(--title-color-dark);
}

.qualifications-section {
    display: grid;
    grid-template-columns: 0.5fr;
    justify-content: center;
}

.qualifications-content{
    display: none;
}

.qualifications-content-active {
    display: block;
}

.qualifications-data {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    column-gap: 1.5rem;
}

.qualifications-title{
    font-size: var(--normal-font-size);
    font-weight: var(--medium-font-weight);
}

.qualifications-subtitle{
    display: inline-block;
    font-size: var(--small-font-size);
    margin-bottom: var(--margin-bottom-1);
}

.qualifications-calendar {
    font-size: var(--small-font-size);
}

.qualifications-rounder {
    display: inline-block;
    width: 13px;
    height: 13px;
    background-color: var(--text-color);
    border-radius: 50%;
}

.qualifications-line {
    display: block;
    width: 1px;
    height: 100%;
    background-color: var(--text-color);
    transform: translate(6px, -7px);
}

@media screen and (max-width: 992px){
    .qualifications-container{
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 768px){
    .qualifications-container{
        margin-left: var(--margin-bottom-1-5);
        margin-right: var(--margin-bottom-1-5);
    }
}

@media screen and (max-width: 576px){
    .qualifications-section{
        grid-template-columns: initial;
    }

    .qualifications-button{
        margin: 0 var(--margin-bottom-0-75);
    }
}

@media screen and (max-width: 350px){
    .qualifications-data{
        gap: 0.5rem;
    }
}

